@media (width <= 576px) {
    .grid-container {
      grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .main-container{
        width: 100%;
    }
    
}

@media (width >= 588px) {
    .grid-container {
      grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
    .main-container{
        width: 80%;
        margin: auto;
    }
    
}




